<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mapper.SearchMapper">
	
	<select id="listSearch" parameterType="String" resultType="SearchVO">
	SELECT * FROM location WHERE address LIKE CONCAT('%', #{keyword}, '%')
	</select>
	
	<select id="myInfoSearch" parameterType="String" resultType="ReserveVO">
	SELECT * FROM reservation
  	WHERE user_name = #{reserve_name}
    AND user_phone = #{reserve_phone}
	</select>
	
	<delete id="deleteReservation">
	delete from reservation where reserve_id = #{reserve_id} 
	</delete>
	
</mapper>
